*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color:black;
}

/*--------------Header Start----------------*/
header{
  max-width: 100%;
  max-height: auto;
}
header img{
  width: 100%;
  opacity: 0.7;
}
#logo-container{
  width: 40%;
  position: absolute;
  top: 2%;
  left:4%;
}
#logo-container img{
  width: 100%;
  opacity: 1;
}
#center-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(-110%);
}
header h1{
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 10px 30px;
    text-transform: uppercase;
}
nav{
    max-width: 100%;
}
#menu-container{
    color:white;
    position: absolute;
    top: 25px;
    left:85%;
}
#menu-container i{
  font-size: 20px;
}
.topnav {
    display: none;
    width: 100%;
    position: absolute;
    top: 90px;
    z-index: 2;
}
  .topnav a {
    color: rgba(41,40,84,255);
    font-weight: bold;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    display: inline-block;
    width: 100%;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgba(41,40,84,255);
    color: white;
  }
  /*--------------Header End----------------*/


/*--------------Atom Start----------------*/

section{
    width: 100%;
    margin-bottom: -150px;
    
}
section p{
    color: white;
    background-color: black;    
    padding: 10px 30px;
   font-size: 18px;
}
section h2{
    color:white;
    text-align: center;
    

}
#atom-border{
    border: 3px solid rgba(20, 97, 211, 0.815);
    border-radius: 5px;
    margin:20px;
}
#atom-picture img{
    width: 38%;
    float: right;
    margin: 10px;
}

/*--------------Atom End----------------*/


/*--------------Footer Start----------------*/
footer{
  max-width: 100%;  
  display: flex;
  flex-direction: column;
}
footer img{
  width: 100%;
  opacity: 0.7;
  transform: translateY(70%);
  z-index: -1;
}
footer h1{
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 30px 50px;
  text-transform: uppercase;
}
footer a{
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 30%;
}
footer a:hover, footer a:active {
  background-color: red;
}
/*--------------Footer End----------------*/

@media screen and (min-width: 280px){

  /*--------------Atom Start----------------*/

section{
  width: 100%;
  margin-bottom: -80px;
}
section p{
  color: white;
  background-color: black;    
  padding: 10px 30px;
 font-size: 15px;
}
section h2{
  color:white;
  text-align: center;
  font-size: 18px;
  padding:5px;
}

#atom-picture img{
  width: 40%;
  margin: 10px;
}

/*--------------Atom End----------------*/

/*--------------Footer Start----------------*/
footer h1{
  font-size: 14px;
  margin: 8px 25px;
  text-transform: uppercase;
}
footer a{
  background-color: #f44336;
  color: white;
  padding: 8px 18px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 40%;
  font-size: 14px;
}
/*--------------Footer End----------------*/

}


@media screen and (min-width: 320px) {
  /*--------------Header Start----------------*/
  #center-container{
    transform: translateY(-118%);
  }
  header h1{
    font-size: 20px;
  }
  /*--------------Header End----------------*/

}

@media screen and (min-width: 400px){
  /*--------------Header Start----------------*/
  #center-container{
    transform: translateY(-125%);
  }
  header h1{
    font-size: 24px;
  }
  #menu-container{
    top:28px
  }
  #menu-container i{
    font-size: 25px;
  }
  #logo-container{
    left:3%;
  }
  /*--------------Header End----------------*/

/*--------------Atom Start----------------*/

section{
width: 100%;
margin-top: 25px;
margin-bottom: -90px;

}
section p{
color: white;
background-color: black;    
padding: 10px 30px;
font-size: 17px;
}
section h2{
color:white;
text-align: center;
font-size: 22px;
padding:5px;
}

#atom-picture img{
width: 45%;
margin: 10px;
}

/*--------------Atom End----------------*/

/*--------------Footer Start----------------*/
footer h1{
font-size: 20px;
margin: 8px 25px;
text-transform: uppercase;
}
footer a{
padding: 10px 20px;
font-size: 16px;
text-align: center;
}
/*--------------Footer End----------------*/

}


@media screen and (min-width: 500px) {
  /*--------------Header Start----------------*/
  header h1{
    font-size: 27px;
    margin: 20px 30px;
  }
  #menu-container{
    top:30px
  }
  #menu-container i{
    font-size: 30px;
  }
  /*--------------Header End----------------*/

}


@media screen and (min-width: 600px) {

/*--------------Header Start----------------*/
header h1{
  font-size: 32px;
}
#menu-container i{
  font-size: 40px;
}
/*--------------Header End----------------*/

/*--------------Atom Start----------------*/

section{
  width: 100%;
  margin-top: 30px;
  margin-bottom: -150px;
  
}
section p{
  color: white;
  background-color: black;    
  padding: 10px 30px;
 font-size: 19px;
}
section h2{
  color:white;
  text-align: center;
  

}
#atom-picture img{
  width: 43%;
  float: right;
  margin: 10px;
}

/*--------------Atom End----------------*/


/*--------------Footer Start----------------*/
footer h1{
color: white;
text-align: center;
font-size: 28px;
margin: 30px 50px;
text-transform: uppercase;
}
footer a{
background-color: #f44336;
color: white;
padding: 15px 25px;
margin: 0 auto;
text-align: center;
text-decoration: none;
width: 30%;
}
/*--------------Footer End----------------*/

}

@media screen and (min-width: 768px) {
    /*--------------Header Start----------------*/
    header h1{
      font-size: 40px;
    }
    .topnav{
      top: 12%;
      width: 38%;
      margin-left: 60%;
    }
    #left-container{
      width:62%;
      float: left;
    }
    .topnav a {
      font-size: 22px;
      padding: 16px;
    }
    #center-container{
      transform: translateY(-115%);
    }
  /*--------------Header End----------------*/

/*--------------Services Start----------------*/

section{
  width: 100%;
  margin-top: 50px;
  margin-bottom: -150px;
  
}
section p{
  color: white;
  background-color: black;    
  padding: 10px 30px;
 
}
section h2{
  color:white;
  text-align: center;
  

}
#atom-border{
  border: 3px solid rgba(20, 97, 211, 0.815);
  border-radius: 5px;
  margin:20px;
}
#atom-picture img{
  width: 30%;
  float: right;
  margin: 10px;
}
/*--------------Services End----------------*/


/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
}
footer a{
  font-size: 18px;
}
/*--------------Footer End----------------*/
}


@media only screen and (min-width: 900px) {

    /*--------------Services Start----------------*/


    section{
      width: 100%;
      margin-top: 50px;
      margin-bottom: -170px;
      
  }
  section p{
      color: white;
      background-color: black;    
      padding: 10px 50px;
      font-size: 22px;
  }
  section h2{
      color:white;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
  
  }
  #atom-border{
      border: 4px solid rgba(20, 97, 211, 0.815);
      margin:20px;
  }
  #atom-picture img{
      width: 35%;
      float: right;
      margin: 15px;
  }
}
/*--------------Services End----------------*/


@media only screen and (min-width: 992px) {

    /*--------------Header Start----------------*/
    header h1{
      font-size: 48px;
    }
    #menu-container{
      top:50px
    }
    #menu-container i{
      font-size: 50px;
    }
    .topnav {
      top:18%;
    }
  /*--------------Header End----------------*/

    /*--------------Services Start----------------*/


    section{
      margin-bottom: -210px;
      
  }
  section p{

      padding: 10px 50px;
      font-size: 23px;
  }
  section h2{
      font-size: 36px;
      font-weight: bold;
  
  }


/*--------------Services End----------------*/

/*--------------Footer Start----------------*/

footer h1{
  margin: 30px 60px;
  font-size: 33px;
}
footer a{
  font-size: 24px;
}
/*--------------Footer End----------------*/
}

@media only screen and (min-width: 1200px) {

/*--------------Header Start----------------*/
#center-container{
  transform: translateY(-123%);
}
header h1{
  font-size: 50px;
}
.topnav{
  width: 34%;
}
#left-container{
  width:66%;
}
#menu-container{
  top: 60px;
}
/*--------------Header End----------------*/

/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
  font-size: 35px;
}
footer a{
  font-size: 24px;
  width: 25%;
}
/*--------------Footer End----------------*/


    /*--------------Services Start----------------*/


    section{

      margin-bottom: -270px;
      
  }
  section p{

      padding: 25px 70px;
      font-size: 24px;
  }
  section h2{

      font-size: 28px;
      font-weight: bold;
      margin-bottom: 60px;
  
  }
  #atom-border{
      border: 4px solid rgba(20, 97, 211, 0.815);
      margin:30px;
  }
  #atom-picture img{
      width: 38%;
      float: right;
      margin: 15px;
  }

}
/*--------------Services End----------------*/



@media only screen and (min-width: 1300px) {

    /*--------------Header Start----------------*/
    .topnav {
      width: 30%;
      margin-left: 68%;

    }
    #left-container{
        width:70%;
    }
    /*--------------Header End----------------*/

    /*--------------Services Start----------------*/


    section{

      margin-bottom: -285px;
      
  }
  section p{

      padding: 28px 70px;
      font-size: 25px;
  }
  section h2{

      font-size: 28px;
      font-weight: bold;
      margin-bottom: 60px;
  
  }
  #atom-border{
      border: 4px solid rgba(20, 97, 211, 0.815);
      margin:30px;
  }
  #atom-picture img{
      width: 30%;
      float: right;
      
  }


/*--------------Services End----------------*/

/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
  font-size: 35px;
}
footer a{
  font-size: 24px;
}
/*--------------Footer End----------------*/
}


@media only screen and (min-width: 1500px) {

    /*--------------Header Start----------------*/
    header h1{
      font-size: 60px;
    }
    .topnav{
      margin-left: 73%;
      top:20%;
      width: 25%;
    }
    #left-container{
      width:75%;
    }
    #menu-container{
      top: 70px;
    }
    #menu-container i{
      font-size: 60px;
    }
  /*--------------Header End----------------*/

    /*--------------Atom Start----------------*/


    section{

      margin-bottom: -360px;
      
  }
  section p{

      padding: 30px 90px;
      font-size: 30px;
  }
  section h2{

      font-size: 38px;
  }
  #atom-border{
      border: 4px solid rgba(20, 97, 211, 0.815);
      margin: 50px;
      padding:20px 50px;
  }
  #atom-picture img{
      width: 28%;
      
      
  }


/*--------------Atom End----------------*/


/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
  font-size: 38px;
}
footer a{
  font-size: 28px;
  width: 23%;
}
/*--------------Footer End----------------*/
}