*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
}

/*--------------Header Start----------------*/
header{
  max-width: 100%;
  max-height: auto;
}
header img{
  width: 100%;
  opacity: 0.7;
}
#logo-container{
  width: 40%;
  position: absolute;
  top: 2%;
  left:4%;
}
#logo-container img{
  width: 100%;
  opacity: 1;
}
#center-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(-110%);
}
header h1{
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 10px 30px;
    text-transform: uppercase;
}
nav{
    max-width: 100%;
}
#menu-container{
    color:white;
    position: absolute;
    top: 25px;
    left:85%;
}
#menu-container i{
  font-size: 20px;
}
.topnav {
    display: none;
    width: 100%;
    position: absolute;
    top: 90px;
    z-index: 2;
}
  .topnav a {
    color: rgba(41,40,84,255);
    font-weight: bold;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    display: inline-block;
    width: 100%;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgba(41,40,84,255);
    color: white;
  }
/*--------------Header End----------------*/



/*--------------Section Start----------------*/

section{
  max-width: 100%;
}
#info-image-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 25px;
  padding-bottom: 10px;
}
.image-container{
  width: 100%;
  display: none;
}
.image-container img{
  width: 100%;
  padding: 20px 30px;
  display: block;
  margin: auto;
}
.info-container{
  display: none;
  width: 100%;
  font-weight: lighter;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info-container h3{
  color: white;
  padding: 10px 15px;
  font-size: 22px;
  text-align: center;
}
.info-container p{
  color: white;
  padding: 20px 55px;
  font-size: 18px;
}
.onload-view{
  display: block;
}
#important{
  color:rgb(235, 8, 8);
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom:20%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: 1px solid white;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 8px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*--------------Section End----------------*/



/*--------------Footer Start----------------*/
footer{
  max-width: 100%;  
  display: flex;
  flex-direction: column;
  transform: translateY(30%);
}
footer img{
  width: 100%;
  opacity: 0.7;
  transform: translateY(100%);
  z-index: -1;
}
footer h1{
  color: white;
  text-align: center;
  font-size: 13px;
  margin: 25px 40px 10px;
  text-transform: uppercase;
}
footer a{
  background-color: #f44336;
  color: white;
  padding: 10px 25px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 35%;
  font-size: 12px;
}
footer a:hover, footer a:active {
  background-color: red;
}
/*--------------Footer End----------------*/



@media screen and (min-width: 320px) {
  /*--------------Header Start----------------*/
  #center-container{
    transform: translateY(-118%);
  }
  header h1{
    font-size: 20px;
  }
  /*--------------Header End----------------*/


  /*--------------Section Start----------------*/
  .info-container h3{
    padding: 10px 50px;
    font-size: 24px;
  }
  .info-container p{
    font-size: 20px;
  }
  .prev, .next {
    padding: 14px;
  }
  /*--------------Section End----------------*/


  /*--------------Footer Start----------------*/
  footer{
    transform: none;
  }
  footer img{
    transform: translateY(100%);
  }
  footer h1{
    font-size: 15px;
  }
  footer a{
    font-size: 13px;
  }
  /*--------------Footer End----------------*/

}


@media screen and (min-width: 400px) {
  /*--------------Header Start----------------*/
  #center-container{
    transform: translateY(-125%);
  }
  header h1{
    font-size: 24px;
  }
  #menu-container{
    top:28px
  }
  #menu-container i{
    font-size: 25px;
  }
  #logo-container{
    left:3%;
  }
  /*--------------Header End----------------*/


  /*--------------Section Start----------------*/
  .info-container h3{
    font-size: 26px;
  }
  .info-container p{
    font-size: 22px;
  }
  .prev, .next{
    bottom: 5%;
  }
  /*--------------Section End----------------*/


  /*--------------Footer Start----------------*/
  footer img{
    transform: translateY(80%);
  }
  footer h1{
    font-size: 17px;
  }
  footer a{
    font-size: 15px;
  }
  /*--------------Footer End----------------*/
}


@media screen and (min-width: 500px) {
  /*--------------Header Start----------------*/
  header h1{
    font-size: 27px;
    margin: 20px 30px;
  }
  #menu-container{
    top:30px
  }
  #menu-container i{
    font-size: 30px;
  }
  /*--------------Header End----------------*/


  /*--------------Section Start----------------*/
  .info-container h3{
    font-size: 28px;
    padding: 10px 65px;
  }
  .info-container p{
    font-size: 23px;
  }
  .prev, .next{
    bottom: -15%;
    font-size: 22px;
  }
  /*--------------Section End----------------*/


  /*--------------Footer Start----------------*/
  footer img{
    transform: translateY(70%);
  }
  footer h1{
    font-size: 20px;
  }
  footer a{
    font-size: 18px;
  }
/*--------------Footer End----------------*/

}


@media screen and (min-width: 600px) {
  /*--------------Header Start----------------*/
  header h1{
    font-size: 32px;
  }
  #menu-container i{
    font-size: 40px;
  }
  /*--------------Header End----------------*/


  /*--------------Section Start----------------*/
  .info-container h3{
    font-size: 30px;
    padding: 10px 65px;
  }
  .info-container p{
    font-size: 23px;
  }
  .prev, .next{
    bottom: -45%;
  }
  /*--------------Section End----------------*/


  /*--------------Footer Start----------------*/
  footer h1{
    font-size: 25px;
  }
  footer a{
    font-size: 20px;
  }
/*--------------Footer End----------------*/
}



@media screen and (min-width: 768px) {
  /*--------------Header Start----------------*/
    header h1{
      font-size: 40px;
    }
    .topnav{
      top: 12%;
      width: 38%;
      margin-left: 60%;
    }
    #left-container{
      width:62%;
      float: left;
    }
    .topnav a {
      font-size: 22px;
      padding: 16px;
    }
    #center-container{
      transform: translateY(-115%);
    }
  /*--------------Header End----------------*/



/*--------------Section Start----------------*/
.image-container {
  width: 80%;
  margin: auto;
}
.info-container h3{
  font-size: 32px;
}
.info-container p{
  padding: 20px 65px;
  font-size: 24px;  
}
.dot {
  height: 17px;
  width: 17px;
  margin: 8px 3px;
}
/*--------------Section End----------------*/


/*--------------Footer Start----------------*/
footer img{
  transform: translateY(55%);
}
footer h1{
  margin: 30px 60px;
}
footer a{
  font-size: 18px;
}
/*--------------Footer End----------------*/
}


@media only screen and (min-width: 992px) {

  /*--------------Header Start----------------*/
    header h1{
      font-size: 48px;
    }
    #menu-container{
      top:50px
    }
    #menu-container i{
      font-size: 50px;
    }
    .topnav {
      top:18%;
    }
  /*--------------Header End----------------*/


/*--------------Section Start----------------*/
.image-container img{
  width: 65%;
}
.info-container h3{
  padding: 10px 60px;
}
.info-container p{
  padding: 20px 65px;
}
.dot {
  height: 15px;
  width: 15px;
}
.prev, .next{
  bottom:10%;
  font-size: 30px;
}
/*--------------Section End----------------*/

/*--------------Footer Start----------------*/
footer img{
  transform: translateY(50%);
}
footer h1{
  margin: 30px 60px;
  font-size: 33px;
}
footer a{
  font-size: 24px;
  width: 30%;
}
/*--------------Footer End----------------*/
}

@media only screen and (min-width: 1200px) {
 /*--------------Header Start----------------*/
  #center-container{
    transform: translateY(-123%);
  }
  header h1{
    font-size: 50px;
  }
  .topnav{
    width: 34%;
  }
  #left-container{
    width:66%;
  }
  #menu-container{
    top: 60px;
  }
/*--------------Header End----------------*/



/*--------------Section Start----------------*/
.info-container h3{
  font-size: 26px;
  text-align: left;
}
.info-container p{
  font-size: 22px;  
}
.prev, .next{
  bottom: -20%;
}
/*--------------Section End----------------*/


/*--------------Footer Start----------------*/
footer img{
  transform: translateY(40%);
}
footer h1{
  margin: 30px 60px;
  font-size: 35px;
}
footer a{
  font-size: 24px;
  width: 25%;
}
/*--------------Footer End----------------*/

}

@media only screen and (min-width: 1300px) {

  /*--------------Header Start----------------*/
    .topnav {
      width: 30%;
      margin-left: 68%;

    }
    #left-container{
        width:70%;
    }
  /*--------------Header End----------------*/

/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
  font-size: 35px;
}
footer a{
  font-size: 24px;
}
/*--------------Footer End----------------*/

}


@media only screen and (min-width: 1500px) {

  /*--------------Header Start----------------*/
    header h1{
      font-size: 60px;
    }
    .topnav{
      margin-left: 73%;
      top:20%;
      width: 25%;
    }
    #left-container{
      width:75%;
    }
    #menu-container{
      top: 70px;
    }
    #menu-container i{
      font-size: 60px;
    }
  /*--------------Header End----------------*/

/*--------------Section Start----------------*/
.info-container h3{
  font-size: 28px;
}
.info-container p{
  font-size: 24px;  
}
/*--------------Section End----------------*/

/*--------------Footer Start----------------*/
footer img{
  transform: translateY(35%);
}
footer h1{
  margin: 30px 60px;
  font-size: 38px;
}
footer a{
  font-size: 28px;
  width: 23%;
}
/*--------------Footer End----------------*/

}