*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
}
/*--------------Header Start----------------*/
header{
  max-width: 100%;
  max-height: auto;
}
header img{
  width: 100%;
  opacity: 0.7;
}
#logo-container{
  width: 40%;
  position: absolute;
  top: 2%;
  left:4%;
}
#logo-container img{
  width: 100%;
  opacity: 1;
}
#center-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(-110%);
}
header h1{
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 10px 30px;
    text-transform: uppercase;
}
header a{
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 0px auto;
  font-size: 10px;
}
header a:hover, header a:active {
    background-color: red;
}
nav{
    max-width: 100%;
}
#menu-container{
    color:white;
    position: absolute;
    top: 25px;
    left:85%;
}
#menu-container i{
  font-size: 20px;
}
.topnav {
    display: none;
    width: 100%;
    position: absolute;
    top: 90px;
    z-index: 2;
}
  
  .topnav a {
    color: rgba(41,40,84,255);
    font-weight: bold;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    display: inline-block;
    width: 100%;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgba(41,40,84,255);
    color: white;
  }

/*--------------Header End----------------*/



/*--------------Section Start----------------*/
  section{
    color:white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(-5%);
  }
  section h2{
    text-transform: uppercase;
    padding: 3px;
    font-size: 20px;
  }
  section p{
    font-size: 15px;
    padding: 10px 30px;
    text-align: left;
  }
/*--------------Section End----------------*/

/*--------------Footer Start----------------*/
footer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}
footer img{
  width: 100%;
  z-index: -1;
  transform: translateY(100%);
}
footer h1{
  color: white;
  text-align: center;
  font-size: 13px;
  margin: 25px 40px 10px;
  text-transform: uppercase;
}
footer a{
  background-color: #f44336;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 0 auto;
  width: 35%;
}
footer a:hover, footer a:active {
    background-color: red;
}
/*--------------Footer End----------------*/

@media screen and (min-width: 320px) {
  /*--------------Header Start----------------*/
  #center-container{
    transform: translateY(-118%);
  }
  header h1{
    font-size: 14px;
  }
  header a{
    font-size: 12px;
  }
  /*--------------Header End----------------*/

  /*--------------Section Start----------------*/
  section h2{
    font-size: 24px;
  }
  section p{
    font-size: 18px;
    padding: 15px 30px;
  }
/*--------------Section End----------------*/

/*--------------Footer Start----------------*/
footer h1{
  font-size: 15px;
}
footer a{
  font-size: 13px;
}
/*--------------Footer End----------------*/


}


@media screen and (min-width: 400px) {
  /*--------------Header Start----------------*/
  #center-container{
    transform: translateY(-125%);
  }
  header h1{
    font-size: 16px;
  }
  header a{
    font-size: 14px;
  }
  #menu-container{
    top:28px
  }
  #menu-container i{
    font-size: 25px;
  }
  #logo-container{
    left:3%;
  }
  /*--------------Header End----------------*/

  /*--------------Footer Start----------------*/
  footer h1{
    font-size: 17px;
  }
  footer a{
    font-size: 15px;
  }
  /*--------------Footer End----------------*/


}


@media screen and (min-width: 500px) {
  /*--------------Header Start----------------*/
  header h1{
    font-size: 20px;
    margin: 20px 30px;
  }
  header a{
    font-size: 18px;
  }
  #menu-container{
    top:30px
  }
  #menu-container i{
    font-size: 30px;
  }
  /*--------------Header End----------------*/


  /*--------------Section Start----------------*/
  section{
    transform: translateY(-10%);
  }
  section h2{
    font-size: 30px;
  }
  section p{
    font-size: 22px;
    padding: 15px 30px;
  }
/*--------------Section End----------------*/


  
  /*--------------Footer Start----------------*/
  footer img{
    transform: translateY(80%);
  }
  footer h1{
    font-size: 20px;
  }
  footer a{
    font-size: 18px;
  }
  /*--------------Footer End----------------*/


}


@media screen and (min-width: 600px) {
  /*--------------Header Start----------------*/
  header h1{
    font-size: 26px;
    margin: 20px 35px;
  }
  header a{
    font-size: 20px;
  }
  #menu-container i{
    font-size: 40px;
  }
  /*--------------Header End----------------*/


   /*--------------Footer Start----------------*/
  footer img{
    transform: translateY(70%);
  }
  footer h1{
    font-size: 25px;
  }
  footer a{
    font-size: 20px;
  }
  /*--------------Footer End----------------*/


}


@media screen and (min-width: 768px) {
  /*--------------Header Start----------------*/
    header h1{
      font-size: 28px;
    }
    header a{
      font-size: 24px;
    }
    .topnav{
      top: 12%;
      width: 38%;
      margin-left: 60%;
    }
    #left-container{
      width:62%;
      float: left;
    }
    .topnav a {
      font-size: 22px;
      padding: 16px;
    }
    #center-container{
      width: 50%;
      transform: translateY(-115%);
    }
  /*--------------Header End----------------*/

  /*--------------Section Start----------------*/
    section{
      transform: translateY(-25%);
    }
    section h2{
      font-size: 35px;
    }
    section p{
      font-size: 24px;
      padding: 15px 35px;
    }
  /*--------------Section End----------------*/

  

/*--------------Footer Start----------------*/
footer{
  margin-top: -150px;
}
footer img{
  transform: translateY(75%);
}
footer h1{
  font-size: 32px;
  margin: 30px 70px;
}
footer a{
  font-size: 25px;
}
/*--------------Footer End----------------*/
}

@media only screen and (min-width: 992px) {

  /*--------------Header Start----------------*/
    header h1{
      font-size: 38px;
    }
    header a{
      font-size: 28px;
    }
    #menu-container{
      top:50px
    }
    #menu-container i{
      font-size: 50px;
    }
    .topnav {
      top:18%;
    }
  /*--------------Header End----------------*/

  /*--------------Section Start----------------*/
    section{
      transform: translateY(-30%);
    }
    section h2{
      padding: 10px;
      font-size: 40px;
    }
    section p{
      font-size: 26px;
    }
  /*--------------Section End----------------*/

  /*--------------Footer Start----------------*/
    footer img{
      transform: translateY(60%);
    }
    footer h1{
      font-size: 34px;
    }
    footer a{
      font-size: 27px;
      width: 25%;
    }
  /*--------------Footer End----------------*/
}

@media only screen and (min-width: 1200px) {

  /*--------------Header Start----------------*/
      #center-container{
        transform: translateY(-123%);
      }
      header h1{
        font-size: 43px;
      }
      header a{
        padding: 15px 45px;
      }
      .topnav{
        width: 34%;
      }
      #left-container{
        width:66%;
      }
      #menu-container{
        top: 60px;
      }
  /*--------------Header End----------------*/

  /*--------------Section Start----------------*/
    section h2{
      font-size: 45px;
    }
    section p{
      font-size: 28px;
      padding: 15px 80px;
    }
  /*--------------Section End----------------*/

  /*--------------Footer Start----------------*/
  footer h1{
    font-size: 40px;
  }
  footer a{
    font-size: 30px;
  }
  /*--------------Footer End----------------*/   
}


@media only screen and (min-width: 1500px) {
  /*--------------Header Start----------------*/
    header h1{
      font-size: 53px;
      padding: 0 80px;
    }
    .topnav{
      margin-left: 73%;
      top:20%;
      width: 25%;
    }
    #left-container{
      width:75%;
    }
    header a{
      font-size: 35px;
    }
    #menu-container{
      top: 70px;
    }
    #menu-container i{
      font-size: 60px;
    }
  /*--------------Header End----------------*/

  /*--------------Section Start----------------*/
  section{
    transform: translateY(-45%);
  }
  section h2{
    font-size: 55px;
    margin-bottom: 20px;
  }
  section p{
    font-size: 32px;
    padding: 15px 180px;
  }
  /*--------------Section End----------------*/ 

  /*--------------Footer Start----------------*/
    footer img{
      transform: translateY(55%);
    }
    footer h1{
      font-size: 45px;
    }
    footer a{
      font-size: 35px;
    }
  /*--------------Footer End----------------*/
}
