*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
}

/*--------------Header Start----------------*/
header{
    max-width: 100%;
}
header img{
    width: 100%;
}
#dark{
    opacity: 0.6;
}
#logo-container{
     width: 30%;
     position: absolute;
     top: 3%;
     left:3%;
}
#logo-container img{
    width: 100%;
}
header h1{
    color: white;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: -30px;
    margin: 20px;
    text-transform: uppercase;
}
#center-container{
    display: flex;
    justify-content: center;
    transform: translateY(-80px);
}
nav{
    max-width: 100%;
}
#menu-container{
    color:white;
    position: absolute;
    top: 40px;
    left:85%;

}
#menu-container i{
    font-size: 35px;
}
.topnav {
    display: none;
    width: 100%;
    position: absolute;
    top: 90px;
}
  
  .topnav a {
    color: rgba(41,40,84,255);
    font-weight: bold;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    display: inline-block;
    width: 100%;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgba(41,40,84,255);
    color: white;
  }
/*--------------Header End----------------*/

/*--------------Section Start----------------*/

section{
    max-width:100%;
    margin-top: 30px;
}
.info-image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 97, 211, 0.815);
}
.info-image-container h2{
  text-align: center;
  color: white;
  padding: 30px 0 10px 0;
  font-size: 25px;
}
.image-container{
    width:100%;
    display: flex;
    flex-direction: row;
    display: none;
    padding: 0 30px;
}
.image-container img{
    width: 50%;
    padding: 20px;
    float: left;
}
.info-container{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    display: none;
}
.onload-view{
  display: block;
}
.info-container p{
    color: white;
    padding: 20px 50px;
    text-align: left;
    font-size: 19px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom:20%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 8px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: white;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



/*--------------Section End----------------*/


/*--------------Footer Start----------------*/
footer{
  max-width: 100%;  
  display: flex;
  flex-direction: column;
}
footer img{
  width: 100%;
  opacity: 0.7;
  transform: translateY(80%);
  z-index: -1;
}
footer h1{
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 30px 50px;
  text-transform: uppercase;
}
footer a{
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 30%;
}
footer a:hover, footer a:active {
  background-color: red;
}
/*--------------Footer End----------------*/



@media screen and (min-width: 768px) {
    /*--------------Header Start----------------*/
    header h1{
      font-size: 46px;
      top: -40px;
    }
    .topnav{
      top: 10%;
      width: 38%;
      margin-left: 60%;
    }
    #left-container{
      width:62%;
      float: left;
    }
    .topnav a {
      font-size: 22px;
      padding: 16px;
    }
/*--------------Header End----------------*/

/*--------------Section Start----------------*/

section{
    margin-top: 50px;
}
.info-image-container h2{
  font-size: 30px;
}
.info-container p{
    padding: 20px 60px;
    font-size: 19px;
}
/*--------------Section End----------------*/


/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
}
footer a{
  font-size: 18px;
}
footer img{
    transform: translateY(50%);
}
/*--------------Footer End----------------*/
}


@media only screen and (min-width: 992px) {

    /*--------------Header Start----------------*/
    header h1{
      font-size: 50px;
      top: -50px;
    }
    #menu-container i{
      font-size: 50px;
    }
    .topnav {
      top:12%;
      width: 34%;
      margin-left: 63%;

    }
    #left-container{
        width:66%;
      }
/*--------------Header End----------------*/



/*--------------Section Start----------------*/

section{
    margin-top: 70px;
}
.image-container{
    padding: 0 40px;
}
.info-image-container h2{
  font-size: 35px;
}
.info-container p{
    font-size: 23px;
}
.prev, .next{
    bottom: 0%;
}

/*--------------Section End----------------*/



/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
  font-size: 33px;
}
footer a{
  font-size: 24px;
}
/*--------------Footer End----------------*/
}

@media only screen and (min-width: 1200px) {

/*--------------Section Start----------------*/
section{
    margin-top: 90px;
}
.info-image-container h2{
  font-size: 40px;
}
.image-container{
    padding: 35px;
}
.info-container p{
    font-size: 25px;
}
/*--------------Section End----------------*/    

/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
  font-size: 35px;
}
footer a{
  font-size: 24px;
  width: 25%;
}
footer img{
    transform: translateY(40%);
}
/*--------------Footer End----------------*/

}

@media only screen and (min-width: 1300px) {

    /*--------------Header Start----------------*/

    .topnav {
      width: 30%;
      margin-left: 68%;

    }
    #left-container{
        width:70%;
    }
/*--------------Header End----------------*/


/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
  font-size: 35px;
}
footer a{
  font-size: 24px;
}
/*--------------Footer End----------------*/

}


@media only screen and (min-width: 1500px) {

    /*--------------Header Start----------------*/

    header h1{
        font-size: 60px;
        top: -95px;
      }
    .topnav {
      width: 27%;
      margin-left: 71%;

    }
    #left-container{
        width:73%;
    }
    /*--------------Header End----------------*/

/*--------------Section Start----------------*/
section{
    margin-top: 110px;
}
.image-container{
    padding: 45px;
}
.info-container p{
    font-size: 30px;
    padding: 10px 80px;
}
/*--------------Section End----------------*/  


/*--------------Footer Start----------------*/
footer h1{
  margin: 30px 60px;
  font-size: 38px;
}
footer a{
  font-size: 28px;
  width: 23%;
}
/*--------------Footer End----------------*/
}